/SecurePassword/SecurePassword/obj
/SecurePassword/SecurePassword/bin
SecurePassword/.vs/SecurePassword.slnx/FileContentIndex/780a51f3-5602-4f7b-a8c1-b93e8c654472.vsidx
/SecurePassword/.vs
/SecurePassword/.vs
SecurePassword/.vs/SecurePassword.slnx/v17/.futdcache.v2
SecurePassword/.vs/SecurePassword.slnx/v17/.suo
